html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  background: url('fondo-pc.png') no-repeat center center fixed;
  background-size: cover;
}

#countdown {
  font-size: 4em; /* tamaño grande */
  font-weight: bold;
  text-align: center;
  color: white;
  z-index: 10;
}

/* Fondo móvil */
@media (max-width: 768px) {
  body {
    background: url('fondo-movil3.png') no-repeat center center fixed;
    background-size: cover;
  }

  #countdown {
    font-size: 3em; /* tamaño proporcional en móvil */
  }
}
